
.main-frame{
    width: 100vw;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.main-flex-container {
    display: flex;
}


.left-part{
    height: 100vh;
    flex: 8.3;
    background-image: url("https://images.unsplash.com/photo-1497015289639-54688650d173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
    background-position: 100% 150%;

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.right-part {
    flex: 5.5;
    background-image: url("/css/cameraman.png");
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.side-bar{
    flex: 2.8;
    background-color: #3C3C3C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2vw;
}

.line-space {
    height: 25vh;
    border-bottom: 3px solid  rgba(188, 188, 188, 0.3);
}

.side-bar ul.media  {
    list-style: none;
    writing-mode: vertical-lr;
    width: 100%;
    display: flex;
    align-items: center;
}

ul.media a{
    text-decoration: none;
    color: #ffffff;
    margin: 35px;
}

.side-bar ul.contacts{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px ;

}

ul.contacts li {
     margin-right: 20px;
     color: #e3e3e3;
 }

ul.contacts li:last-child {
    margin-top: 15px;

}

ul.contacts li a{
    text-decoration: none;
    color: #ffffff;
}
.left-bar {
    height: 90vh;
    width: 18vw;
}

.up-line {
    height: 25vh;
    border-bottom: 3px solid rgba(188, 188, 188, 0.3);
}

.left-num {
    height: 75%;
}

.pagin {
    font-size: 1.5vw;
    color: white;
    list-style: none;
    margin-left: 6vw;
    margin-top: 10vh;
}

.pagin li {
    margin: 10px
}

.pagin li i{
    font-size: 20px;
    padding-left: 3.5px;
}

.rev-text {
    font-size: 1.2vw;
    vertical-align: auto;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding-bottom: 30px;
}

.pagin .vert{
    writing-mode: vertical-lr;
    padding-left: 10px;
}

.full-main-section{
    width: 31.5vw;

}

.main-section {
    display: flex;
    align-items: flex-end;
    height: 65vh;

}

.yellow-line {
    width: 2.7vw;
    height: 65vh;
    background-color: #B99E2E;
}

.main-text {
    width: 28.8vw;
    height: 65vh;
    color: #ffffff;
    font-size: 3.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 3px solid  rgba(188, 188, 188, 0.3);
}

.text-line {
    height: 25vh;
    border-bottom: 3px solid rgba(188, 188, 188, 0.3);
}


.text-content {
    align-self: center;
}

.text1{
    font-size: 3vw;
    margin-bottom: 1vw;
}
.text2 {
    font-size: 1.6vw;
}

.free-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.free-space i{
    color: white;
    font-size: 3.5vw;
    margin-right: 5vw;
    margin-top: 11.7vw;
}

.main-btn {
   border: none;
    font-size: 1vw;
    height: 8vh;
    width: 11vw;
}

.free-space {
    border-left: 3px solid  rgba(188, 188, 188, 0.3);
    height: 27vh;
}

.right-part-flex{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.right-part-flex i{
    color: white;
    font-size: 3.5vw;
    margin-left: 5vw;
    margin-bottom: 1vw;
}


