*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    font-size:  1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 136px;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    z-index: 2;

}

.header a{
    text-decoration: none;
    color: black;
}

.logo-img {
    margin-left: 40px;
    width: 13vw;
}

#main-nav {
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 12vw;
    color: #e3e3e3;
}

#main-nav li {
    margin-right: 5vw;
}

#main-nav li i{
    margin-left: 10px;
    vertical-align: text-bottom;
}

.side-nav {
    background-color: #F6C700;
    color: #3C3C3C;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 21.7vw;
    height: 15vh;
}

.side-nav li {
    margin: auto 25px auto 35px;
}
/*.side-nav li:last-child {*/
/*    margin-right: 40px;*/
/*}*/

.header p {
    margin:auto;
}

/*FOOTER*/

.footer{
    display: flex;
    height: 30vh;
    width: 100vw;
    max-width: 100%;
    background-color: #F6C700;
    color: #3C3C3C;
}


.left-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 35px;
    width: 35vw;

}

.left-footer img {
    height: 40px;
    width: 208px;
    margin-left: 17vw;
}

.left-footer ul{
    display: flex;
    list-style: none;
    margin-left: 20px;
}

.left-footer ul li{
    margin-right: 35px;
}

.right-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 1px solid #3C3C3C;
    width: 65vw;
}

.right-footer p{
    margin-top: 45px;
    margin-left: 20px;
}

.ul-flex{
    display: flex;
    margin-left: 170px;

}

.right-footer ul {
    display: flex;
    list-style: none;
}

.right-footer .information li{
    margin-left: 35px;
}

.right-footer .media-icons li{
    margin-right: 25px;
}

.right-footer ul li a{
    text-decoration: none;
    color: #3C3C3C;
}
.facebook img{
   width: 12px;
}


.right-footer ul li .instagram{
    margin-right: 50px;
}

.instagram i{
    font-size: 20px;
}

